BREWIE_TRANSPORT=mock
BREWIE_HOST=192.168.1.50
BREWIE_PORT=8332
BREWIE_HTTP_BASE=http://192.168.1.50:8081
BREWIE_SERIAL_PORT=/dev/ttyUSB0
BREWIE_SERIAL_BAUD=115200
LOCAL_BIND=0.0.0.0
LOCAL_PORT=8080
RECIPE_DIR=recipes
